@import "../../base";

.categoriesbar {
  padding: 0.5rem 0rem;
  margin-left: 1rem;
  font-size: 0.8rem;
  display: flex;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  scrollbar-width: none;

  span {
    margin-right: 1rem;
    padding: 0.35rem 1rem;
    white-space: nowrap;
    border: 0.1px solid $text-color;
    border-radius: 5rem;
    cursor: pointer;
    background-color: #12171b;
    color: #fff;
    font-weight: 500;
    font-size: 0.9rem;

    &:hover {
      background-color: #24282e;
    }

    &.active {
      color: $black-primary;
      background-color: #fff;
      border-color: $border-color;
    }
  }
}
